.struct {
    height: 210vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
}

.struct-title {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 500;
}

.ex3 {
    display: flex;
    flex-direction: row;
}

.subtitle > .ex3 > .struct--code-sample {
    background-color: white;
    height: 320px;
    width: 40vw;
    border-radius: 15px;
    margin-left: 50px;
}

.subtitle > .ex3 > .struct--code-sample > .struct--code-text {
    color: black;
    font-family: 'Consolas';
    margin-left: 30px;
}

.subtitle > .ex3 > .sp--code-solver {
    background-color: black;
    height: 320px;
    width: 40vw;
    border-radius: 15px;
    margin-left: 50px;
    position: relative;
}

.subtitle > .ex3 > .sp--code-solver > .sp--terminal-text {
    color: white;
    font-family: 'Consolas';
    margin-left: 30px;
}

.ex4 {
    display: flex;
    flex-direction: row;
}

.subtitle > .ex4 > .struct--code-sample {
    background-color: white;
    height: 370px;
    width: 40vw;
    border-radius: 15px;
    margin-left: 50px;
}

.subtitle > .ex4 > .struct--code-sample > .struct--code-text {
    color: black;
    font-family: 'Consolas';
    margin-left: 30px;
}

.subtitle > .ex4 > .sp--code-solver {
    background-color: black;
    height: 370px;
    width: 40vw;
    border-radius: 15px;
    margin-left: 50px;
    position: relative;
}

.subtitle > .ex4 > .sp--code-solver > .sp--terminal-text {
    color: white;
    font-family: 'Consolas';
    margin-left: 30px;
}

.struct-test {
    height: 130vh;
    display: flex;
    flex-direction: column;
}

.test-title {
    align-self: center;
    font-weight: 700;
    font-size: 60px;
    font-family: 'Poppins';
}

.struct-test > .enunt-container {
    display: flex;
    flex-direction: row;
}

.struct-test > .enunt-container > img {
    width: 700px;
    height: 700px;
    margin-right: 80px;
    margin-top: 30px;
    
}

.struct-test > .enunt-container > .enunt {
    margin-top: 90px;
    margin-right: 100px;
    font-family: 'Poppins';
    font-size: 25px;
    position: relative;
    left: 4rem;
    top: 3rem;
}

.struct-test > .enunt-container > .enunt > ul > li > img {
    width: 36px;
    height: 36px;
    position: relative;
    top: 10px;
}

.struct-test > .enunt-container > .enunt > ul {
    font-size: 25px;
}